.bollycoin-sec {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 6rem;
	padding-bottom: 70px;
}

.crystal-container {
	margin-top: -13rem;
}

.crystal-container img {
	max-width: 100%;
}

.mask-blur {
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	width: 400px;
	height: 250px;
	position: absolute;
	top: 20.6%;
	left: 39%;
}

.text-top {
	z-index: 10;
}

.about-bollycoin {
	margin-top: -20rem;
	width: 100%;
	display: flex;
}

.pageno-container {
	flex: 1;
	padding-left: 40px;
	user-select: none;
}

.num-active {
	font-size: 50px;
	cursor: pointer;
	font-family: "Roboto";
}

.num-inactive {
	cursor: pointer;
	color: #1b1b1b;
	font-size: 18px;
	font-weight: 900;
}

.about-bollycoin-card {
	flex: 2;
	z-index: 10;
	width: 800px;
	height: 380px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 80px 80px 250px rgba(49, 37, 103, 0.2);
	border-radius: 24px;
	padding: 2rem;
	padding-left: 12rem;
}

.about-bollycoin-card[data-item="4"] {
	overflow-y: scroll;
}

.about-bollycoin-card[data-item="4"]::-webkit-scrollbar {
	width: 24px;
}

.about-bollycoin-card[data-item="4"]::-webkit-scrollbar-track {
	border-radius: 24px;
	background-clip: padding-box;
	box-shadow: inset 0 0 6px #ffffff4d;
	background-color: #e5e5e5;
	border: 10px solid #00000000;
}

.about-bollycoin-card[data-item="4"]::-webkit-scrollbar-thumb {
	border: 10px solid #00000000;
	background-clip: padding-box;
	border-radius: 24px;
	background-color: #1b1b1b;
}

.about-wrapper {
	position: relative;
}

.bolly-card-poster {
	width: 200px;
	height: 275px;
	border-radius: 40px;
	position: absolute;
	top: -10%;
	left: -70px;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	overflow: hidden;
}

.bolly-card-poster img {
	padding-top: 2px;
	width: 100%;
	height: auto;
}

.about-bollycoin-card p {
	font-family: Poppins;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	color: #1a1a1a;
}

.arrow-section {
	margin-left: 20px;
	flex: 1;
	align-self: flex-end;
	display: flex;
	gap: 20px;
	flex-direction: column;
	user-select: none;
}

.arrow-active {
	cursor: pointer;
	color: #1b1b1b;
}

.arrow-inactive {
	cursor: pointer;
	color: #999999;
}

.verticle-line {
	margin-top: -30px;
	margin-bottom: 20px;
	height: 100px;
	width: 2px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #1b1b1b 50%, #e5e5e5 50%);
}

.inactive-transition {
	opacity: 0.2;
}

.active-transition {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

@media only screen and (max-width: 1163px) {
	.about-bollycoin-card {
		width: 650px;
		padding-left: 10rem;
	}

	.about-bollycoin-card p {
		font-size: 22px;
	}

	.crystal-container {
		display: none;
	}

	.mask-blur {
		display: none;
	}

	.about-bollycoin {
		margin-top: 0;
	}

	.about-wrapper {
		background-image: url("../../../assets/images/Crystal.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.bollycoin-sec {
		padding-top: 119px;
	}
}

@media only screen and (max-width: 998px) {
	.pageno-container {
		margin-right: 50px;
	}
}

@media only screen and (max-width: 968px) {
	.about-bollycoin {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	.pageno-container {
		margin-right: 0;
		display: flex;
		gap: 40px;
		padding-left: 0;
	}

	.arrow-section {
		margin-left: 0;
		align-self: center;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	.number-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.verticle-line {
		margin-left: 10px;
		height: 2px;
		width: 100px;
		margin-top: 0;
		background: linear-gradient(to right, #1b1b1b 50%, #e5e5e5 50%);
	}

	.bollycoin-sec {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media only screen and (max-width: 863px) {
	.about-bollycoin-card {
		width: 100%;
	}

	.about-bollycoin-card {
		padding: 2rem;
		overflow-y: scroll;
	}

	.pageno-container {
		margin-bottom: 11rem;
	}

	.about-bollycoin-card::-webkit-scrollbar {
		width: 24px;
	}

	.about-bollycoin-card::-webkit-scrollbar-track {
		border-radius: 24px;
		background-clip: padding-box;
		box-shadow: inset 0 0 6px #ffffff4d;
		background-color: #e5e5e5;
		border: 10px solid #00000000;
	}

	.about-bollycoin-card::-webkit-scrollbar-thumb {
		border: 10px solid #00000000;
		background-clip: padding-box;
		border-radius: 24px;
		background-color: #1b1b1b;
	}

	.bolly-card-poster {
		left: 0;
		right: 0;
		top: -255px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 500px) {
	.bollycoin-sec {
		padding-top: 2rem;
	}
}

@media only screen and (max-width: 400px) {
	.verticle-line {
		width: 50px;
	}

	.num-active {
		font-size: 40px;
	}

	.pageno-container {
		gap: 20px;
	}

	.about-bollycoin-card p {
		font-size: 16px;
	}

	.about-bollycoin-card {
		padding: 2rem 1rem;
	}
}
