.navbar-container {
	position: fixed;
	display: flex;
	align-items: flex-end;
	align-items: center;
	justify-content: space-between;
	padding: 8.75vh 6vw 3rem;
	width: 100%;
	z-index: 999;
	transition: all 0.4s ease;
}

.navbar-container[data-expanded="true"] {
	padding: 3rem 4rem;
}

.logo-container {
	position: relative;
	align-self: flex-start;
	width: 173.13px;
	height: 64px;
}

.logo-container img {
	z-index: -1;
	user-select: none;
	position: absolute;
	width: 100%;
	max-width: 200px;
	height: auto;
	transition: opacity 0.3s ease;
}

.logo-container img:first-child {
	max-width: 201px;
}

.logo-container img[data-visible="false"] {
	opacity: 0;
}

.navbar-items {
	flex: 1;
	max-width: max-content;
	display: flex;
	align-items: center;
	gap: 60px;
	margin: 0;
}

.nav-item,
.nav-item a {
	font-size: 20px;
	font-family: "Poppins";
	font-weight: 400;
	color: #999999;
	transition: 0.4s all ease;
	white-space: nowrap;
}

.nav-item:hover,
.nav-item a:hover {
	cursor: pointer;
	color: #fff;
}

.nav-item[data-hovered="true"],
.nav-item[data-hovered="true"] a {
	color: #ff6cc4;
}

.nav-item-onscroll:hover,
.nav-item-onscroll:hover a {
	cursor: pointer;
	color: #000;
}

.remove-nav-link {
	opacity: 0;
	visibility: hidden;
}

.menu-button-container {
	display: none;
}

.menu-button {
	width: 40px;
	height: 40px;
	background: #3789e5;
	color: #fff;
	border-radius: 4px;
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-button:hover,
.menu-button:focus {
	cursor: pointer;
	opacity: 0.7;
}

.mobile-navigation {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.logo-container {
		pointer-events: none;
	}
}

@media only screen and (max-width: 1077px) {
	.navbar-container {
		padding: 1rem 1rem !important;
	}

	.nav-item,
	.nav-item a {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1200px) {
	.navbar-items {
		display: none;
	}

	.menu-button-container {
		display: flex;
		align-items: center;
		align-self: center;
	}

	.mobile-navigation {
		display: block;
	}

	.mobile-nav-header {
		display: flex;
		justify-content: flex-end;
		min-height: 79px;
		padding: 1rem 10px;
	}

	.close--btn {
		width: 40px;
		height: 40px;
		background-color: #999;
		color: #000;
		border-radius: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		outline: none;
	}

	.close--btn:hover,
	.close--btn:focus,
	.mobile-nav-links li:hover,
	.mobile-nav-links li:focus {
		cursor: pointer;
		opacity: 0.8;
	}

	.mobile-nav-links {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.mobile-nav-links li {
		font-size: 22px;
		font-family: Poppins;
		font-weight: 400;
		color: #333;
		line-height: 2;
	}

	.ant-drawer-body {
		padding: 1rem;
		background-color: #f2f2f2;
	}
}
