.mobile-footer {
	width: 100%;
	display: none;
}

@media only screen and (max-width: 768px) {
	.mobile-footer {
		display: flex;
		padding: 2rem;
		background-color: #0f0121;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.mobile-footer-item {
		color: #fff;
		cursor: pointer;
		transition: 0.4s all ease;
	}

	.mobile-footer-item:hover,
	.mobile-footer-item:focus {
		color: #999;
	}
}
