@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.timeline-sec-container {
	height: auto;
	margin-top: -8.5rem;
	background: linear-gradient(to right, #f2f2f2 70%, #fff 30%);
	display: flex;
	flex-direction: column;
	gap: 100px;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 300px;
	padding-left: 1rem;
	padding-right: 1rem;
	position: relative;
	z-index: -10;
}

.almost {
	font-family: "Shadows Into Light", cursive;
	color: #2882e5;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
}

.timeline-sec {
	display: flex;
	align-items: center;
	gap: 40px;
	position: relative;
}

.vector-line {
	z-index: -20;
	position: absolute;
	top: -45%;
	left: 10%;
	margin-left: auto;
	margin-right: auto;
}

.timeline1st-box {
	margin-top: 100px;
}

.timeline-sec-poster {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	max-width: 100%;
}

.timeline-sec-poster img {
	max-width: 100%;
	height: auto;
	border-radius: 40px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.timeline-text-box {
	flex: 1;
}

.timeline-text-box h3 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: #1a1a1a;
	max-width: 900px;
}

.timeline-text-box p {
	font-family: Poppins;
	font-size: 24px;
	opacity: 0.6;
}

@media only screen and (max-width: 968px) {
	.almost {
		font-size: 32px;
	}

	.vector-line {
		display: none;
	}

	.timeline1st-box {
		margin-top: 0;
	}

	.timeline-sec-container {
		border-radius: 12px 12px 0px 0px;
		margin-top: -4rem;
		padding: 3rem 1rem;
		background: #f2f2f2;
	}

	.timeline-sec {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.timeline-text-box h3 {
		font-size: 22px;
	}

	.timeline-text-box p {
		font-size: 20px;
	}
}

@media only screen and (max-width: 380px) {
	.ready-text {
		text-align: center;
	}
}
