@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.timeline-sec-container {
	height: auto;
	margin-top: -8.5rem;
	background: linear-gradient(to right, #f2f2f2 70%, #fff 30%);
	display: flex;
	flex-direction: column;
	gap: 100px;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 200px;
	position: relative;
	z-index: -10;
}

.vector-line {
	padding: 50px 0;
	z-index: -20;
	position: absolute;
	top: 0;
	left: 350px;
}

.almost {
	font-family: "Shadows Into Light", cursive;
	color: #2882e5;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
}

.timeline-sec {
	display: flex;
	align-items: center;
	gap: 40px;
}

.timeline1st-box {
	margin-top: 100px;
}

.timeline-sec-poster {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.timeline-sec-poster img {
	border-radius: 40px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.timeline-text-box {
	flex: 1;
}

.timeline-text-box h3 {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: #1a1a1a;
	max-width: 900px;
}

.timeline-text-box p {
	font-family: Poppins;
	font-size: 24px;
	opacity: 0.6;
}
