.coming-soon-outer-container {
	height: 100vh;
	width: 100%;
	background-color: #0f0931;
	background-image: url("../../assets/images/Background-1.png"),
		url("../../assets/images/Background-2.png"), url("../../assets/images/Background-3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.coming-soon-container {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s all ease;
	overflow: hidden;
}

.coming-soon-outer-container::after {
	opacity: 0;
	content: "";
	position: absolute;
	top: 7%;
	left: 5%;
	width: 90%;
	height: 86%;
	border: 1.5px solid #4b90d8;
	box-shadow: 0px 0px 0px 1px #4b90d8, 0px 0px 60px #4b90d8, inset 0px 0px 0px 1px #4b90d8,
		inset 0px 0px 140px #4b90d8;
	border-radius: 30px;
	transition: 0.4s opacity ease;
}

.coming-soon-container::after {
	opacity: 0;
	content: "";
	position: absolute;
	margin: auto;
	width: 95%;
	height: 95%;
	border: 2px solid #fff;
	box-shadow: 0px 0px 80px 4px #d53d99, 0px 0px 30px #d53d99, inset 0px 0px 10px 4px #d53d99,
		inset 0px 0px 30px #d53d99;
	border-radius: 40px;
	transition: 0.4s opacity ease;
}

.coming-soon-outer-container[data-hovered="true"]::after,
.coming-soon-container[data-hovered="true"]::after {
	opacity: 1;
}

.coming-soon-container[data-hovered="true"] {
	background-image: none;
	background-color: #0f0931;
}

.letters-container {
	margin: 0 0 0 -5rem;
	padding: 0;
}

.images-container {
	position: absolute;
	z-index: 5;
	width: 100%;
	max-width: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.images-container img {
	pointer-events: none;
	user-select: none;
	position: absolute;
	width: 14vw;
	top: -0.75rem;
	transition: all 0.5s ease;
	opacity: 1;
	filter: drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.25));
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.images-container img:last-child {
	left: 0.25rem !important;
	filter: none;
}

.images-container img[data-visible="false"] {
	opacity: 0;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 8px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.tagline-text {
	padding: 0 1rem;
	position: absolute;
	z-index: 20;
	background: linear-gradient(to right, #ed83bb 20%, #d99f11);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-size: 1.15rem;
	top: 25vh;
	text-align: center;
	transition: background 0.5s ease;
}

.tagline-text[data-hovered="true"] {
	background: linear-gradient(to right, #d99f11 1%, #ed83bb);
	background-clip: text;
}

.letters-container[data-hovered="true"] .letter {
	opacity: 0;
	transition: all 0.5s ease;
}

.bottom-tagline-text {
	padding: 0 1rem;
	position: absolute;
	z-index: 20;
	background: linear-gradient(to right, #ed83bb 20%, #d99f11);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-size: 1.15rem;
	bottom: 27.5vh;
	text-align: center;
	transition: all 0.5s ease;
	opacity: 0;
}

.bottom-tagline-text[data-hovered="true"] {
	opacity: 1;
}

.letter {
	opacity: 1;
	-webkit-text-stroke: 2px #fff;
	/* background: url(../../assets/images/text-animation.gif) !important;
	background-clip: text !important; */
	user-select: none;
	pointer-events: none;
	cursor: default;
	position: relative;
	font-size: 7vw;
	top: 0;
	left: 0;
	display: inline-block;
	margin: 0 3px;
	letter-spacing: 0;
	color: #fff;
	text-align: center;
	transition: 0.5s opacity ease;
	z-index: 10;
}

/* .letters-container[data-hovered="true"] .letter {
	color: transparent;
} */

/* .letter[data-first-part="true"] {
	z-index: 10;
}

.letter[data-first-part="false"] {
	z-index: 0;
} */

.debug-controls {
	z-index: 100;
	color: #fff;
	position: fixed;
	bottom: 1rem;
}

.debug-controls button {
	color: #000;
}

.coming-soon-graphics {
	position: relative;
	top: 0.5rem;
	user-select: none;
	pointer-events: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: 0.5s all ease;
}

.coming-soon-graphics[data-hovered="true"] img {
	opacity: 1;
	transition: 0.5s all ease;
}

.coming-soon-graphics img {
	opacity: 0;
	position: relative;
	top: -0.5rem;
	width: 100%;
	max-width: 33%;
	height: auto;
	z-index: 10;
}

.coming-soon-graphics img:first-child {
	position: relative;
	left: -0.5rem;
}

.coming-soon-container img:last-child {
	position: relative;
	left: -4.5rem;
}

@-moz-document url-prefix() {
	.coming-soon-graphics img {
		top: -1rem;
	}

	.coming-soon-graphics img:first-child {
		left: 0.5rem;
	}
}

.social-media-container {
	margin-right: 3.25%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	position: fixed;
	right: 0;
	z-index: 999;
}

.social-icons {
	color: #999999;
	cursor: pointer;
	transition: 0.4s all ease;
}

.social-icons:hover {
	color: #fff;
}

.social-icons-onscroll:hover {
	color: #000;
}

.cta-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	margin-top: -10rem;
	cursor: pointer;
}

.cta-text {
	margin-top: 20px;
	font-family: "Poppins";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #999999;
}

.box span {
	width: 20px;
	height: 20px;
	display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

.main-container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

.main-cointainer {
	position: relative;
	width: 100%;
	margin: auto;
	padding: 3.5rem 0 3.5rem 7vw;
	min-height: 100vh;
	overflow: hidden;
	background: url(../../assets/images/rounded/poster-2.png) no-repeat center right;
	background-size: 32% auto;
	transition: all 0.3s ease;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: calc(1em + 1vmin);
	width: 46vw;
	transition: all 0.3s ease;
}

.logo {
	user-select: none;
	cursor: pointer;
	font-family: "primary", sans-serif;
	color: #000;
	font-size: calc(1.5em + 1vmin);
}

.header a {
	display: flex;
	align-items: center;
	color: rgba(0, 0, 0, 0.7);
	font-size: calc(0.5em + 1vmin);
	transition: 0.3s all ease;
}

.header a:hover {
	color: #000;
	opacity: 0.5;
	transition: 0.3s all ease;
}

.header img {
	width: 140px;
	height: 100%;
	position: relative;
	top: 1px;
}

.arrow-icon {
	margin-left: 8px;
}

.hero {
	padding-top: calc(3.5em + 1vmin);
	width: 50vw;
	transition: all 0.3s ease;
}

.hero h1 {
	font-family: "bold", sans-serif;
	color: #000;
	opacity: 1;
	font-size: calc(3.5em + 1vmin);
	line-height: 4.25rem;
	transition: all 0.3s ease;
}

.hero p {
	color: #000;
	opacity: 0.8;
	font-size: calc(0.8em + 0.8vmin);
	line-height: 2.15rem;
	width: 79%;
	margin: 3rem 0;
}

.hero button {
	font-family: "bold", sans-serif;
	border: none;
	box-shadow: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: calc(0.6em + 1vmin);
	padding: calc(0.5em + 1vmin) calc(3em + 1vmin);
	cursor: pointer;
	transition: all 0.3s ease;
}

.hero button:hover,
.hero button:focus {
	opacity: 0.8;
	transition: all 0.3s ease;
}

.section {
	position: relative;
	margin: 3rem 0;
	padding: 5rem 7vw;
	display: flex;
	justify-content: flex-end;
	background: url(../../assets/images/rounded/poster-1.png) no-repeat left;
	background-size: 42% auto;
}

.section div {
	width: 50%;
}

.section h1 {
	color: #000;
	opacity: 1;
	font-size: calc(3em + 1vmin);
	line-height: 4.25rem;
	transition: all 0.3s ease;
	font-family: "bold", sans-serif;
}

.section p {
	color: #000;
	opacity: 0.8;
	font-size: calc(0.8em + 1vmin);
	line-height: 2.15rem;
	margin: 3rem 0;
	transition: all 0.3s ease;
}

.invert {
	justify-content: flex-start;
	background: url(../../assets/images/rounded/poster-3.png) no-repeat right;
	background-size: 38%;
}

.section.nft {
	position: relative;
	margin: 3rem 0;
	padding: 5rem 7vw;
	display: flex;
	justify-content: flex-end;
	background: url(../../assets/images/rounded/poster-6.png) no-repeat left;
	background-size: 35% auto;
}

/* .section-2-graphic {
	position: absolute;
	width: 40% !important;
	height: 100%;
	right: 0;
	top: 0;
	clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
	background: url(../../assets/images/poster.png) no-repeat right;
	background-size: cover;
} */

.banner {
	padding: 5rem 7vw;
	text-align: center;
}

.banner h1 {
	color: #000;
	font-family: "bold", sans-serif;
	opacity: 1;
	font-size: calc(3em + 1vmin);
	line-height: 4.25rem;
}

.banner p {
	color: #000;
	opacity: 0.8;
	font-size: calc(0.8em + 1vmin);
	line-height: 2.15rem;
	margin: 3rem auto;
	width: 90%;
}

.banner button {
	border: 1px solid #000;
	box-shadow: none;
	background-color: transparent;
	color: #000;
	text-transform: capitalize;
	font-size: calc(0.65em + 1vmin);
	padding: calc(0.15em + 1vmin) calc(4.25em + 1vmin);
	cursor: pointer;
	transition: all 0.3s ease;
}

.banner button:hover {
	opacity: 0.5;
	transition: all 0.3s ease;
}

.banner img {
	width: 100%;
	height: auto;
	margin: 3rem auto 0;
}

.banner .tagline img {
	width: 100%;
	height: auto;
	max-width: 320px;
}

.banner .tagline p {
	margin: 1rem auto 0;
	text-align: center !important;
	font-size: 2rem;
	font-family: bold, sans-serif;
}

.timeline-section {
	padding: 2rem 7vw 0 7vw;
}

.timeline-section h1 {
	color: #000;
	font-size: calc(3em + 1vmin);
	font-family: "bold", sans-serif;
	line-height: 4.25rem;
	text-align: center;
}

.timeline-section > p {
	color: #000;
	opacity: 0.8;
	font-size: calc(0.8em + 1vmin);
	line-height: 2.15rem;
	margin: 3rem 0;
	text-align: center;
}

@media only screen and (min-width: 1440px) {
	.logo {
		font-size: 1.75rem;
	}

	.landing-main {
		max-width: 1400px;
		margin: auto;
		padding: 3.5rem 1rem 0;
	}

	.header {
		margin-bottom: 5rem;
		width: 55%;
		transition: all 0.3s ease;
	}

	.header a {
		font-size: 1.25rem;
	}

	.main-cointainer {
		min-height: auto;
		padding: 0.5rem 2rem 15.25rem;
		background-size: 40%;
	}

	.hero {
		width: 50%;
		padding-top: 2.75rem;
	}

	.hero h1,
	.section h1,
	.banner h1,
	.timeline-section h1 {
		font-size: 2.8rem;
	}

	.hero p,
	.section p,
	.banner p,
	.timeline-section p {
		font-size: 1.3rem;
		line-height: 2.3rem;
	}

	.hero button {
		max-width: 450px;
		padding: 1.3rem 3rem;
		font-size: 1.3rem;
	}

	.banner button {
		max-width: 450px;
		padding: 1rem 4rem;
		font-size: 1.5rem;
	}

	.section {
		padding: 5rem 3rem;
	}
}

@media only screen and (max-width: 1080px) {
	.main-cointainer {
		min-height: auto;
	}

	.main-cointainer,
	.section,
	.banner,
	.timeline-section {
		padding: 3rem 2rem;
		margin: 0;
	}

	.header {
		width: 100%;
	}
}

@media only screen and (max-width: 1020px) {
	.main-cointainer {
		background: none;
		transition: all 0.3s ease;
	}

	.hero {
		width: 100%;
		transition: all 0.3s ease;
	}

	.hero h1 {
		width: 100%;
		font-size: calc(2.5em + 1vmin);
		line-height: 3.25rem;
		margin-bottom: 2.5rem;
	}

	.tablet-main-graphic {
		height: 450px;
		width: 100%;
		background: url(../../assets/images/rounded/poster-2.png) no-repeat center;
		background-size: contain;
	}

	.hero p {
		width: 100%;
	}

	.section,
	.section.nft {
		background: none;
	}

	.section div {
		width: 100%;
	}

	.section h1 {
		font-size: calc(2.5em + 1vmin);
		line-height: 3.25rem;
		margin-bottom: 2rem;
	}

	.section p {
		margin-top: 2rem;
		font-size: calc(0.8em + 1vmin);
		line-height: 2.15rem;
	}

	.tablet-section-1-graphic {
		height: 350px;
		width: 100%;
		background: url(../../assets/images/rounded/poster-1.png) no-repeat center;
		background-size: contain;
	}

	.invert h1 {
		margin-bottom: 2.5rem;
	}

	.tablet-section-2-graphic {
		height: 350px;
		width: 100%;
		background: url(../../assets/images/rounded/poster-3.png) no-repeat center;
		background-size: contain;
	}

	.tablet-section-3-graphic {
		height: 350px;
		width: 100%;
		background: url(../../assets/images/rounded/poster-6.png) no-repeat center;
		background-size: contain;
	}

	.banner h1,
	.timeline-section h1 {
		font-size: calc(2.5em + 1vmin);
		line-height: 3.25rem;
	}
}

@media only screen and (max-width: 1200px) {
	.images-container img {
		width: 17vw;
		top: -0.1rem;
	}
}

@media only screen and (max-width: 768px) {
	.images-container img {
		width: 25vw;
		top: -0.1rem;
	}

	.bottom-tagline-text {
		opacity: 1;
	}
}

@media only screen and (max-width: 500px) {
	.landing-main {
		width: 100vw;
		overflow: hidden;
	}

	p {
		font-size: 1rem !important;
	}

	.header {
		flex-direction: column;
		align-items: flex-start;
	}

	.header .logo {
		margin-bottom: 0.75rem;
	}

	.header a {
		position: relative;
		top: 0.2rem;
		transition: 0.3s all ease;
		font-size: 1rem;
	}

	.tablet-main-graphic {
		height: 500px;
		width: 100%;
		background: url(../../assets/images/rounded/poster-2.png) no-repeat center;
		background-size: contain;
		margin-top: 0rem;
		margin-bottom: -1rem;
	}

	.banner h1,
	.banner p {
		text-align: left !important;
		margin-left: 0;
		margin-right: 0;
	}

	.timeline-section h1,
	.timeline-section p {
		text-align: left;
	}

	.images-container img {
		width: 25vw;
		top: -0.1rem;
	}
}

@media only screen and (max-width: 425px) {
	.section h1 {
		margin-bottom: 0;
	}

	.section p {
		margin-top: 0rem;
	}
}

@media only screen and (max-width: 375px) {
	.tablet-main-graphic {
		margin-top: -4rem;
		margin-bottom: -4rem;
	}
}

@media only screen and (max-width: 768px) {
	.letters-container {
		margin: 0;
	}

	canvas {
		position: absolute;
		left: 3rem;
	}

	.coming-soon-container {
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: 1077px) {
	.social-media-container {
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 718px) {
	.social-media-container {
		display: none;
	}
}

@media only screen and (max-width: 500px) {
	.letters-container {
		margin-left: -0.5rem;
	}

	canvas {
		left: 0.5rem;
	}
}
