.coming-soon-outer-container {
	height: 100vh;
	width: 100%;
	background-color: #0f0931;
	background-image: url("../../assets/images/Background-1.png"),
		url("../../assets/images/Background-2.png"), url("../../assets/images/Background-3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.coming-soon-container {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s all ease;
	overflow: hidden;
}

.coming-soon-outer-container::after {
	opacity: 0;
	content: "";
	position: absolute;
	top: 7.5%;
	left: 5%;
	width: 90%;
	height: 84.5%;
	border: 1.5px solid #4b90d8;
	box-shadow: 0px 0px 0px 1px #4b90d8, 0px 0px 60px #4b90d8, inset 0px 0px 0px 1px #4b90d8,
		inset 0px 0px 140px #4b90d8;
	border-radius: 30px;
	transition: 0.4s opacity ease;
}

.coming-soon-container::after {
	opacity: 0;
	content: "";
	position: absolute;
	margin: auto;
	width: 95%;
	height: 92%;
	border: 2px solid #fff;
	box-shadow: 0px 0px 80px 4px #d53d99, 0px 0px 30px #d53d99, inset 0px 0px 10px 4px #d53d99,
		inset 0px 0px 30px #d53d99;
	border-radius: 40px;
	transition: 0.4s opacity ease;
}

.coming-soon-outer-container[data-hovered="true"]::after,
.coming-soon-container[data-hovered="true"]::after {
	opacity: 1;
}

.coming-soon-container[data-hovered="true"] {
	background-image: none;
	background-color: #0f0931;
}

.letters-container {
	margin: 0 0 0 -5rem;
	padding: 0;
}

.letters-container[data-hovered="true"] .letter {
	opacity: 0;
	transition: all 0.5s ease;
}

.letter {
	user-select: none;
	pointer-events: none;
	cursor: default;
	position: relative;
	font-size: 7vw;
	top: 0;
	left: 0;
	display: inline-block;
	margin: 0 3px;
	letter-spacing: 0;
	color: #fff;
	text-align: center;
	transition: 0.5s color ease;
}

.letters-container[data-hovered="true"] .letter {
	color: #f26303;
}

.letter[data-first-part="true"] {
	z-index: 10;
}

.letter[data-first-part="false"] {
	z-index: 0;
}

.debug-controls {
	z-index: 100;
	color: #fff;
	position: fixed;
	bottom: 1rem;
}

.debug-controls button {
	color: #000;
}

.coming-soon-graphics {
	position: relative;
	top: 0.5rem;
	user-select: none;
	pointer-events: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 0;
	transition: 0.5s all ease;
}

.coming-soon-graphics[data-hovered="true"] {
	opacity: 1;
	transition: 0.5s all ease;
}

.coming-soon-graphics img {
	position: relative;
	top: -0.25rem;
	width: 100%;
	max-width: 33%;
	height: auto;
}

.coming-soon-graphics img:first-child {
	position: relative;
	left: -0.5rem;
	z-index: 10;
}

.coming-soon-container img:last-child {
	position: relative;
	left: -3.5rem;
}

.social-media-container {
	margin-right: 3.25%;
	display: flex;
	flex-direction: column;
	gap: 45px;
	position: fixed;
	right: 0;
	z-index: 999;
}

.social-icons {
	color: #999999;
	cursor: pointer;
	transition: 0.4s all ease;
}

.social-icons:hover {
	color: #fff;
}

.social-icons-onscroll:hover {
	color: #000;
}

.cta-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	margin-top: -10rem;
	cursor: pointer;
}

.cta-text {
	margin-top: 20px;
	font-family: "Poppins";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #999999;
}

.box span {
	width: 20px;
	height: 20px;
	display: block;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.box span:nth-child(2) {
	animation-delay: -0.2s;
}

.box span:nth-child(3) {
	animation-delay: -0.4s;
}

.main-container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
}

@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: rotate(45deg) translate(10px, 10px);
	}
	100% {
		opacity: 0;
	}
}

@media only screen and (max-width: 768px) {
	.letters-container {
		margin: 0;
	}

	canvas {
		position: absolute;
		left: 3rem;
	}

	.coming-soon-container {
		transform: translate3d(0, 0, 0);
	}
}

@media only screen and (max-width: 1077px) {
	.social-media-container {
		margin-right: 2rem;
	}
}

@media only screen and (max-width: 718px) {
	.social-media-container {
		display: none;
	}
}
