.login-container {
	min-height: 100vh;
	padding: 3.5rem 7vw;
	/* background: url(../../../src/assets/images/login/login-graphic.png) no-repeat right; */
	background-size: contain;
	transition: 0.3s all ease;
}

.login-section {
	margin-top: 5rem;
	width: 35vw;
}

.login-section h1 {
	font-family: "bold", sans-serif;
	color: #000;
	opacity: 0.7;
	font-size: calc(3.25em + 1vmin);
	line-height: 4.25rem;
	margin-bottom: 1rem;
	transition: all 0.3s ease;
}

.login-section > p {
	color: #000;
	opacity: 0.7;
	font-size: calc(0.8em + 1vmin);
	line-height: 2.15rem;
	margin-bottom: 3.5rem;
}

.login-form-control {
	display: flex;
}

.login-form-input {
	flex: 1 1 0;
	max-width: 450px;
}

.login-form-input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-width: 1px;
	border-color: #000;
}

.login-form-input .MuiOutlinedInput-root {
	border-radius: 0;
}

.login-form-input .MuiFormLabel-root.Mui-focused {
	color: #000;
	left: -2px;
	font-family: "medium", sans-serif;
}

.login-form-control .MuiInputLabel-outlined.MuiInputLabel-shrink {
	left: -2px;
}

.login-form-control .MuiOutlinedInput-notchedOutline {
	border-color: #000;
}

.login-section button {
	max-width: 280px;
	width: 100%;
	margin-top: 3rem;
	font-family: "bold", sans-serif;
	border: none;
	box-shadow: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	font-size: calc(0.6em + 1vmin);
	padding: calc(0.5em + 1vmin) calc(3em + 1vmin);
	cursor: pointer;
	transition: all 0.3s ease;
}

.login-section button:hover,
.login-section button:focus {
	opacity: 0.7;
	transition: all 0.3s ease;
}

.MuiFormHelperText-contained {
	color: green !important;
}

.MuiFormHelperText-root.Mui-error {
	color: #f44336 !important;
}

@media only screen and (min-width: 1440px) {
	.login-container {
		max-width: 1500px;
		margin: auto;
		padding: 3.5rem 3rem;
		background-position: top right;
		background-size: 50%;
		background-position-y: 3.75rem;
	}

	.login-section {
		width: 600px;
	}

	.login-section h1 {
		font-size: 3.25rem;
		line-height: 4.25rem;
		transition: all 0.3s ease;
	}

	.login-section > p {
		font-size: 1.25rem;
		line-height: 2.15rem;
	}

	.login-section button {
		max-width: 350px;
		padding: 1rem 2rem;
		font-size: 1.25rem;
	}

	.MuiFormHelperText-contained {
		margin-left: 0 !important;
		margin-top: 1rem !important;
	}
}

@media only screen and (max-width: 1350px) {
	.login-container {
		min-height: 100vh;
		padding: 3.5rem 7vw;
		background: none;
	}

	.login-section {
		margin: 0;
		min-height: calc(100vh - 161px);
		width: 100%;
		padding-right: 50vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* background: url(../../../src/assets/images/login/login-graphic.png) no-repeat right; */
		background-size: 50%;
	}

	.login-section h1 {
		font-size: calc(2.5em + 1vmin);
		line-height: 3.25rem;
	}

	.login-section button {
		max-width: 268px;
		padding: calc(0.5em + 1vmin) calc(2em + 1vmin);
	}
}

@media only screen and (max-width: 1100px) {
	.login-section h1 {
		font-size: calc(2em + 1vmin);
	}

	.login-section button {
		padding: calc(0.5em + 1vmin) calc(1em + 1vmin);
	}
}

@media only screen and (max-width: 1080px) {
	.login-container {
		min-height: auto;
	}
}

@media only screen and (max-width: 1020px) {
	.login-section {
		background: none;
		padding: 0;
	}

	.tablet-login-graphic {
		height: 400px;
		width: 100%;
		/* background: url(../../../src/assets/images/login/login-graphic.png) no-repeat center; */
		background-size: contain;
		margin: 3rem 0;
	}
}

@media only screen and (max-width: 550px) {
	.login-section button {
		padding: calc(1em + 1vmin) calc(1em + 1vmin);
	}

	.login-section > .MuiCircularProgress-colorPrimary {
		margin: auto;
	}
}

@media only screen and (max-width: 425px) {
	.tablet-login-graphic {
		margin: 1rem 0;
		transition: 0.3s all ease;
	}
}
