@font-face {
	font-family: "primary";
	src: url(./assets/fonts/Calcula-Std-Solid.ttf);
}

@font-face {
	font-family: "medium";
	src: url(./assets/fonts/MarkOT-Medium.ttf);
}

@font-face {
	font-family: "bold";
	src: url(./assets/fonts/MarkOT-Heavy.ttf);
}

body {
	margin: 0;
	font-family: "medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
