@font-face {
	font-family: "primary";
	src: url(./assets/fonts/Calcula-Std-Solid.ttf);
	font-display: swap;
}

@font-face {
	font-family: "medium";
	src: url(./assets/fonts/MarkOT-Medium.ttf);
	font-display: swap;
}

@font-face {
	font-family: "bold";
	src: url(./assets/fonts/MarkOT-Heavy.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
		url("./assets/fonts/poppins-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url(./assets/fonts/Roboto-Bold.ttf);
	font-display: swap;
}

:root {
	--primary: #134670;
}

body {
	margin: 0;
	font-family: "medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

.MuiInputBase-input,
.MuiListItem-root {
	font-family: "medium", sans-serif !important;
}

.ant-notification-notice {
	border-radius: 12px !important;
}
