.component-margin {
	margin-top: 80px;
}

.header-container {
	display: flex;
	justify-content: center;
}

.component-header-text {
	display: flex;
	flex-direction: column;
	font-family: "Roboto";
	font-size: 120px;
	font-weight: 900;
	line-height: 164px;
	margin: 0;
}

.centered-text {
	text-align: center;
}

.stroke-text {
	color: #000;
}

/* .stroke-text {
	color: #dd584e;
	animation: color-swap 5s linear infinite alternate;
} */

.stroke-number {
	-webkit-text-stroke: 2px #1b1b1b;
	color: #fff;
}

@keyframes color-swap {
	0% {
		color: #dd584e;
	}

	33% {
		color: #ffd527;
	}

	66% {
		color: #602626;
	}

	100% {
		color: #dd584e;
	}
}

.filled-text {
	color: #dd584e;
	font-size: 5.5rem;
	margin-top: -1rem;
}

.component-section {
	background: #f2f2f2;
	border-radius: 12px 12px 0px 0px;
	height: 100%;
}

.poster-sec {
	display: flex;
	gap: 40px;
	align-items: flex-end;
	padding: 119px 160px 0 160px;
	overflow-y: hidden;
}

.poster-container {
	width: 480px;
	height: 100%;
}

.poster-container img {
	width: 100%;
	height: auto;
}

.middle-poster {
	margin-bottom: -40px;
}

@media only screen and (max-width: 1200px) {
	.filled-text {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		font-size: 4rem;
		line-height: 5rem;
	}
}

@media only screen and (max-width: 968px) {
	.poster-sec {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		overflow-y: visible;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.middle-poster {
		margin-bottom: 0;
	}

	.component-section {
		margin-top: 3rem;
	}
}

@media only screen and (max-width: 768px) {
	.stroke-text {
		font-size: 5.5rem;
		line-height: 6.5rem;
	}

	.filled-text {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}

@media only screen and (max-width: 551px) {
	.poster-container {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.poster-sec {
		padding-top: 1.5rem;
	}
}

@media only screen and (max-width: 425px) {
	.stroke-text {
		font-size: 3.5rem;
		line-height: 4.5rem;
	}

	.filled-text {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}
